# Alexander Tebiev - https://github.com/beeyev
.php-cs-fixer.cache
.phpunit.cache/
.coverage/
composer.lock
.idea/
.vscode/
vendor/
index.php
phpunit.xml
.php-cs-fixer.php
laravel/
infection.json
tests-legacy/